.aws-btn {

  --slider-height-percentage: 50%;
  --slider-transition-duration: 575ms;
  --organic-arrow-thickness: 10px;
  --organic-arrow-border-radius: 4px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #cf5b2c;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --organic-arrow-color: #ffcc47;
  --control-button-background: transparent;
  --control-bullet-color: #36454f;
  --control-bullet-active-color: #36454f;
  --loader-bar-color: #36454f;
  --loader-bar-height: 10px;
  }

  .video-player {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    background-size: cover;
    overflow: hidden;
  }